Repository brstu/AutoLabSuite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coreorbit-leads, @neonfox-lead, @neonfox-dev1, @neonfox-dev2, @byteforge-lead, @byteforge-dev1, @byteforge-dev2, @cloudforge-lead, @cloudforge-dev1, @cloudforge-dev2, @vectorpulse-lead, @vectorpulse-dev1, @vectorpulse-dev2

team leaders table added
  docs/teams/current-leads.md
Owners: @coreorbit-leads, @byteforge-lead, @neonfox-lead

added justification of this project
  .github/workflows/markdown-lint.yml
  README.md
  docs/README.md
  docs/literature_review_extended_ru.md
  docs/literature_review_short_ru.md
  docs/references.bib
  docs/references.ris
  package.json
Owners: @coreorbit-leads, @byteforge-lead, @neonfox-lead

linting fixes
  docs/teams/README.md
  docs/teams/current-leads.md
  ml/tests/AI_testing_strategy.md
  ml/tests/README.md
Owners: @coreorbit-leads, @byteforge-lead, @neonfox-lead, @vectorpulse-lead, @vectorpulse-dev1, @vectorpulse-dev2

teachers onboarding:
  README.md
  docs/onboarding-for-teachers.md
  docs/teams/README.md
Owners: @coreorbit-leads, @byteforge-lead, @neonfox-lead

new team member
  docs/teams/README.md
Owners: @coreorbit-leads, @byteforge-lead, @neonfox-lead

new team added
  docs/teams/README.md
Owners: @coreorbit-leads, @byteforge-lead, @neonfox-lead

changed ml stack
  docs/ai-models/ml-tasks-kserve.md
  docs/ai-models/model-comparison.md
  docs/architecture/solution-architecture.md
  infra/kubeflow-kserve.md
Owners: @coreorbit-leads, @byteforge-lead, @neonfox-lead, @cloudforge-lead, @cloudforge-dev1, @cloudforge-dev2

new team and lead
  docs/teams/README.md
  docs/teams/current-leads.md
Owners: @coreorbit-leads, @byteforge-lead, @neonfox-lead

rulesets added
  .github/settings.yml
  .github/workflows/deploy-kubeflow.yml
Owners: @coreorbit-leads

.github/CODEOWNERS:

# CODEOWNERS for AutoLabSuite
# Формат: путь  @github-user-or-team
# Правила применяются снизу вверх (последнее совпадение выигрывает).
# Ротация Iteration Lead НЕ меняет codeowner автоматически, но IL отвечает за актуальность.
# CoreOrbit (CORE) выступает глобальным fallback владельцем.

# Глобальный fallback
*       @coreorbit-leads

# Frontend (NeonFox)
/apps/frontend/   @neonfox-lead @neonfox-dev1 @neonfox-dev2

# Backend (ByteForge)
/services/backend/   @byteforge-lead @byteforge-dev1 @byteforge-dev2

# Infrastructure (CloudForge)
/infra/   @cloudforge-lead @cloudforge-dev1 @cloudforge-dev2

# ML (VectorPulse)
/ml/   @vectorpulse-lead @vectorpulse-dev1 @vectorpulse-dev2

# Docs (общие)
/docs/   @coreorbit-leads @byteforge-lead @neonfox-lead

# Critical configuration
/.github/   @coreorbit-leads
/package.json   @coreorbit-leads @byteforge-lead

# TODO: при появлении отдельных сервисов разбить /services/backend на подкаталоги и назначить точечных владельцев.
